    <%- include('layout/header') %>

    <main>
        <h1>Hallo <%= name %>,</h1>
        <h1>willkommen auf der Homepage!</h1>

            <div class="quizzes">
            
            <% quizdata.forEach(quiz => { %>
                <a href="./<%- quiz.slug %>"><button><%= quiz.title %></button></a>
              <% }) %>
        </div>
   
    </main>

    <%- include('layout/footer') %>
  
   